dist/

**/*.log

**/.env*
**/__pycache__
**/.venv
**/__pypackages__/

**/.terraform/*
**/*.tfstate*
**/*.tfplan
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/*.tfvars
**/*.tfvars.json

.vscode/
.DS_Store